.auth_page{
    background: url('../../img/bg.png') no-repeat center/cover;
    /* background-color: #B42A40; */
    min-height: 100vh;
    border: 24px solid #B42A40;
    padding: 25px 60px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}


